.*/*
!.github/*
!.vscode/settings.json
!.cargo/config.toml
.idea
#Cargo.lock
target
os/src/link_app.S
os/kernel_output.log
os/last-*
#os/Cargo.lock
os/.gdb_history
os/target/*
os/boot.log
easy-fs/Cargo.lock
easy-fs/target/*
easy-fs-fuse/Cargo.lock
easy-fs-fuse/target/*
tools/
pushall.sh
*.bak
ci-user/
# os/vendor/
# 防止 sysroot 中的预编译 .rlib 被误提交
deps/rust/nightly-2026-01-01-x86_64-unknown-linux-gnu/custom-sysroot/**/*.rlib
fs_img/la*
fs_img/riscv*
fs_img/*.img
fs_img/la64/*
fs_img/riscv64/*
testsuits-for-oskernel
toolchains/
syscall_posix_kernel.md
kernel-*
*.img*
*.log
sdcard-rv-structure/*
sdcard-rv/*
syscall_posix_kernel.md
*.txt
initproc*
!initproc*.rs
all_codes.txt
my_sdcard/*
ins.txt
os/src/arch/riscv/initprocT
os/src/arch/la/initproc.ltp
os/src/arch/riscv/initprocT
*.bak
bak
bak
GPATH
GRTAGS
GTAGS
fs_img
musl-1.2.4
musl-1.2.4.tar.gz
glibc-2.3.5
glibc-2.3.5.tar.gz
numactl-2.0.14
user/user-*
qemu-system-2k1000
.neoconf.json
__pycache__
决赛文档.md
alpine_linux
recovered-buildstorm/
alpine_linux.tar.gz
RESULTS.md
benchmarks/
lmbench_tuning_playbook.md