.*/*
!.github/*
!.vscode/settings.json
.idea
#Cargo.lock
target
os/src/link_app.S
os/kernel_output.log
os/last-*
#os/Cargo.lock
os/.gdb_history
os/target/*
os/boot.log
easy-fs/Cargo.lock
easy-fs/target/*
easy-fs-fuse/Cargo.lock
easy-fs-fuse/target/*
tools/
pushall.sh
*.bak
ci-user/
user/
# os/vendor/
fs_img/la*
fs_img/riscv*
fs_img/*.img
fs_img/la64/*
fs_img/riscv64/*
testsuits-for-oskernel
toolchains/
*.pdf
syscall_posix_kernel.md
kernel-*
*.img*
*.log
sdcard-rv-structure/*
sdcard-rv/*
syscall_posix_kernel.md
*.txt
initproc*